.heading
{
    width:80%;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color:rgb(0, 92, 17);
}
#camera
{
    border:2px ridge black;
    width:350px;
height:300px;
}
 body
 {
background-color: aqua;
 }